body {
    background-color: #D4E6F1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 6px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 10px;
}

.listWrapper {
    width: 90vw;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.listItem {
    padding: 10px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    margin: auto;
    background-color: #E8E8E8;
    height: 5%;
    justify-content: left;
    align-items: center;
}

.listItem,
input[type="text"],
input[type="email"] {
    background-color: #e8e8e8;
}

.listItem:first-child {
    float: left;
}

.listItem:last-child {
    float: right;
}

input[type="checkbox"] {
    outline: 1px solid;
}