.row {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    border: 1px solid plum;
    font-weight: bold;
}

.listItem {
    background-color: #e8e8e8;
}

.row>* {
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    word-break: keep-all;
}

input[type="checkbox"] {
    outline: 1px solid;
}


/* 
.active {
    color: lightgreen;
}

.invited {
    color: lightblue;
}

.disabled {
    color: red;
} */