    .row {
        background-color: transparent;
    }
    
    .row>* {
        width: 30%;
        justify-content: stretch;
        white-space: nowrap;
    }
    
    button {
        float: right;
        width: 150px;
        margin: 5px 0 0 10px;
    }
    
    form>* {
        margin-bottom: 15px;
    }
    
    .Dropdown-root,
    .form-check {
        flex-grow: 1;
    }
    
    .imgDiv {
        float: right;
        height: 33px;
        width: 33px;
        width: fit-content;
        background-image: url("../../public/pancil_icon.png");
        background-repeat: no-repeat;
    }
    
    .Dropdown-option {
        font-weight: normal;
    }
    
    .Dropdown-option:nth-child(1) {
        color: lightgreen
    }
    
    .Dropdown-option:nth-child(2) {
        color: blue
    }
    
    .Dropdown-option:nth-child(3) {
        color: red
    }
    
    .addUserForm {
        width: 100vw;
    }